[mysqld]
bind-address = 127.0.0.1                           # Only allow connections from localhost
port=3306
datadir=/usr/local/var/mysql                       # 相同服务器下模拟主从时不能公用同一个目录
max_connections=200                                # 服务器最多可以建立的连接数(会保留一个root登陆的连接)
max_user_connections = 6                           # 同一个用户最多可建立的连接数
log_error = /usr/local/var/mysql/error.log 
#skip-grant-tables                                 # 跳过用户名/密码认证
pid_file = /tmp/mysql.pid
character_set_server=utf8mb4                       # 在建库/表时默认字符集为charset=utf8mb4
socket =/tmp/mysql.sock

long_query_time = 1                                # 查询时间超过1秒则认为是慢查询
slow_query_log=on                                  # 是否开启慢日志
log_queries_not_using_indexes=on                   # 未使用索引的查询也被记录到慢查询日志中
slow_query_log_file=/usr/local/var/mysql/slow.log  # 慢日志存储路径

log_bin=/usr/local/var/mysql/binlog                # binlog日志名前缀 
binlog_expire_logs_seconds = 604800                # 删除超过7天的binlog日志 
binlog_format=mixed
server_id=1                                        # 主从复制模式下该id必须唯一


[client]
socket =/tmp/mysql.sock                            # 跟server处的参数保持一致


######################################### salve ###########################################

# [mysqld]
# bind-address = 127.0.0.1
# port=3307
# datadir=/usr/local/var/mysql_slave
# log_error = /usr/local/var/mysql_slave/error.log
# pid_file = /tmp/mysql_slave.pid
# character_set_server=utf8mb4
# socket =/tmp/mysql_slave.sock

# long_query_time = 1
# slow_query_log=on
# log_queries_not_using_indexes=on
# slow_query_log_file=/usr/local/var/mysql_slave/slow.log

# log_bin=/usr/local/var/mysql_slave/binlog
# binlog_expire_logs_seconds = 604800
# binlog_format=mixed
# relay_log=/usr/local/var/mysql_slave/relay-bin
# server_id=2
# super_read_only=on
# if read_only is enabled, the server permits no client updates except from users who have the CONNECTION_ADMIN or SUPER privilege. 
# If super_read_only is enabled, the server prohibits client updates, even from users who have the SUPER privilege.
# Setting super_read_only to ON implicitly forces read_only to ON.Setting read_only to OFF implicitly forces super_read_only to OFF.
# Even with read_only enabled, the server permits updates performed by slave threads

# [client]
# socket =/tmp/mysql_slave.sock
