[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1
port=3307
datadir=/usr/local/var/mysql
max_connections=20
max_user_connections = 2
long_query_time = 1 #查询时间超过1秒则为慢查询
slow_query_log_file=/usr/local/var/mysql/slow.log
log-error = /usr/local/var/mysql/error.log
skip-grant-tables
pid-file = /tmp/mysql.pid
binlog_expire_logs_seconds = 7 #超过7天的binlog删除
